@{
    ViewData["Title"] = "SAP Link Integration";
}


<div class="container my-5">
    <div class="text-center">
        <h1 class="display-6">Welcome to</h1>
        <h1 class="display-1">SAP Link Integration</h1>
        <img src="~/images/background.png" alt="Your Image" class="img-fluid" style="max-width: 750px; max-height: 750px;" />
    </div>
</div>